@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core Movie app</h1>
    <p>
        <ul class="list-group">
            <li class="list-group-item">.NET 6</li>
            <li class="list-group-item">Code first Entity Framework SQL server connection</li>
            <li class="list-group-item">CRUD</li>
            <li class="list-group-item">Validations</li>
            <li class="list-group-item">Bootswatch & Bootstrap icons</li>
            <li class="list-group-item">Tempdata & partial views</li>
            <li class="list-group-item">Toastr.js</li>
        </ul>
    </p>
</div>
